.akomaNtoso .preface {
    display: block;
    text-align: center;
}

.akomaNtoso .coverPage {

}

.akomaNtoso .coverPage .p {
    display: block;
}

.akomaNtoso .docTitle {
    font-weight: bold;
    font-size: 1.5em;
}

.akomaNtoso .chapter {
    display: block;
    width: 100%;
    text-align: center;
}

.akomaNtoso .chapter * {
    text-align: left;
}

.akomaNtoso .chapter > .num {
    font-size: 1.0em;
    display: block;
    text-align: center;
}

.akomaNtoso .chapter > .heading {
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.akomaNtoso .article {
    display: block;
    width: 100%;
    text-align: center;
}

.akomaNtoso .article * {
    text-align: left;
}

.akomaNtoso .article > .num {
    font-size: 1.0em;
    text-align: center;
    display: block;
}

.akomaNtoso .article > .heading {
    font-size: 1.3em;
    text-align: center;
    display: block;
}

.akomaNtoso .list > .intro {
    display: inline;
}

.akomaNtoso .list > .point {
    margin-left: 2em;
}

.akomaNtoso .docNumber {
    font-weight: bold;
}

.akomaNtoso .docDate {
    font-weight: bold;
}

.akomaNtoso .item {
    display: block;
}

.akomaNtoso .num + span {
    display: inline;
}

.akomaNtoso .authorialNote {
    color: blue;
    font-size: 70%;
    vertical-align: text-top;
}

.akomaNtoso .authorialNote[marker]:before {
    content: attr(marker);
}

.akomaNtoso .authorialNote > .p:not(:empty):before {
    content: " [";
}

.akomaNtoso .authorialNote > .p:not(:empty):after {
    content: "]";
}

.akomaNtoso .content > .p:after {
    content: "\A";
    white-space: pre;
    margin-top: 1.5em;
}

.akomaNtoso .eol:after {
    content: "\A";
    white-space: pre;
    margin-top: 1.5em;
}

.akomaNtoso .eop:after {
    content: "\A\A\A";
    white-space: pre;
    page-break-after: always;
    margin-top: 1.5em;
}
.akomaNtoso .br:after {
    content: "\A";
    white-space: pre;
}

.akomaNtoso .notes:before {
    content: "Notes";
    border: 1px solid #000000;
    background-color: blue;
    display: block;
    text-align: center;
    font-family: Sans-Serif;
    font-size: 10pt;
    left: 90%;
    color: #fff;
    width: 90px;
    border-radius: 3px;
    margin: 0px;
    padding: 1px;
    position: relative;
}

.akomaNtoso .notes {
    color: blue;
    margin-left: 2em;
}

.akomaNtoso .table {
    min-width: 90%;
}