/*
* --------------------------------------------------------------------------
* This stylesheet should contain all styling that has to do with the basic
* amendment style.
* --------------------------------------------------------------------------
*/
.contentPanel .amendmentHolder {
    position: relative;
    width: 120%;
    left: -12%;
}

.amendmentHolder {
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Times New Roman", serif !important;
    font-size: large;
    line-height: 1.1em;
}

.amendmentHolder .header {
    font-size: 1.3em;
}

.amendmentHolder .amendmentContent {
    display: block;
    width: 100%;
}

.amendmentHolder .amendmentContent .block {

}

.amendmentHolder span[name="versionTitle"] {
    width: 50%;
    float: left;
    display: inline-block;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 15px;
}

.amendmentHolder .mod {
    display: block;
    width: 100%;
    clear: both;
}

.amendmentHolder .mod > .quotedStructure {
    width: 50%;
    display: table-cell;
    padding: 15px;

    margin:1.5em;
    color:#000;
    border-left:0;

}

.amendmentHolder .mod > .authorialNote {
    color: #000;
    font-size: 100%;
    font-style: italic;
    display: block;
    margin-left: 50%;
    padding: 15px;
}

.amendmentHolder .mod > .authorialNote > .p:not(:empty):before {
    content: "(";
}

.amendmentHolder .mod > .authorialNote > .p:not(:empty):after {
    content: ")";
}

.amendmentHolder span[name="comment"] {
    display: block;
    text-align: right;
    font-style: italic;
    margin: 0px;
    width: 100%;
}

.amendmentHolder .amendmentJustification {
    display: block;
    width: 100%;
}

.amendmentHolder .amendmentJustification .block {
    display: block;
    width: 100%;
}

.amendmentHolder .amendmentJustification span[name="justificationHeading"] {
    display: block;
    font-style: italic;
    text-align: center;
    width: 100%;
}

.amendmentHolder .amendmentContent .change {
    display: inline;
    font-weight: bold;
    font-style: italic;
}

/*
    DIFFING
*/

.highlight-diff {
    font-style: italic;
    font-weight: bold;
}

.highlight-ins {
    color: blue;
    background-color: lightblue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.highlight-ins-normal {
    color: blue;
    background-color: lightblue;
    font-style: italic;
    text-decoration: underline;
}

.highlight-del {
    color: red;
    background-color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}

.highlight-del-normal {
    color: red;
    background-color: pink;
    font-style: italic;
    text-decoration: line-through;
}

.highlight-red {
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}