/*
* --------------------------------------------------------------------------
* This stylesheet should contain all styling that has to do with the styling of the content in the ck editor.
* --------------------------------------------------------------------------
*/
body {
    margin: 15px;
    font-family: "Times New Roman", serif !important;
    font-size: large;
    line-height: 1.2em;
}