/*
* --------------------------------------------------------------------------
* This stylesheet should contain all styling that has to do with the basic
* document style.
* --------------------------------------------------------------------------
*/
.document {
}

.contentPanel {
    font-family: "Times New Roman", serif !important;
    font-size: medium;
    line-height: 1.1em;
}

.actionBarView {
    font-family: "Verdana", sans-serif !important;
}