/*
* --------------------------------------------------------------------------
* Global editor stylesheet. For the document styling, use the document.css file. For a more document specific styling
* (eg. the Akoma Ntoso default stylesheet, use the akomaNtoso-override.css stylesheet.
* --------------------------------------------------------------------------
*/

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Navigation bar ...
*/
.navbar {
    width: 100%;
    background-color: #393939;
    color: white;
    border-top: 3px solid #333;
    border-bottom: 3px solid #414141;
}

span.logo {
    font-size: 2em;
    position: relative;
    left: 6px;
}

.navbar > li {
    color: white;
    float: left;
}

.navbar .loggedInPerson {
    position: relative;
    float: right;
    right: 15px;
    top: 6px;
}

.navbar .availableLanguages {
    position: relative;
    float: right;
    right: 9px;
    top: 1px;
}

#footer {
    width: 100%;
    text-align: center;
    font-size: small;
    padding-top: 2px;
    border-top: 1px solid #333;
}

.gwt-DecoratedPopupPanel {
    z-index: 100;
}

.gwt-SuggestBoxPopup {
    z-index: 101;
}